#################################
# MAVEN / JAVA / SPRING BOOT
#################################

# Directory di build Maven
target/

# File compilati
*.class

# Log file
*.log

# Dump file VM
hs_err_pid*
replay_pid*

#################################
# IDE / EDITOR
#################################

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

#################################
# SISTEMA OPERATIVO
#################################

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

#################################
# TEST REPORTS
#################################

# Surefire / Test output
*.txt
*.xml
